{% raw %}
<script id="board-template" type="text/x-handlebars-template">
    <section class="board" data-board-id="{{id}}">
        <div class="board-header"><span class="board-title">{{title}}</span>
            <button class="board-add">Add Card</button>
            <button class="board-toggle"><i class="fas fa-chevron-down"></i></button>
            <button class="board-remove"><i class="fas fa-trash-alt"></i></button>
        </div>
        <div class="board-columns">
            <div class="board-column">
                <div class="board-column-title">New</div>
                <div class="board-column-content" data-column-type="new"></div>
            </div>
            <div class="board-column">
                <div class="board-column-title">In progress</div>
                <div class="board-column-content" data-column-type="in-progress"></div>
            </div>
            <div class="board-column">
                <div class="board-column-title">Testing</div>
                <div class="board-column-content" data-column-type="testing"></div>
            </div>
            <div class="board-column">
                <div class="board-column-title">Done</div>
                <div class="board-column-content" data-column-type="done"></div>
            </div>
        </div>
    </section>
</script>

<script id="card-template" type="text/x-handlebars-template">
    <div class="card" data-card-id="{{id}}">
        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
        <div class="card-title">{{title}}</div>
    </div>
</script>
{% endraw %}

<template id="board-rename-template">
    <label>
        <input type="text" class="board-rename" placeholder="Press Enter to save your title!" required>
    </label>
</template>

{% for type in ('register', 'login') %}
    <template id="{{ type }}-form-template">
        <ul>
            <li><a class="li-left" id="hide-form" href="#">Cancel</a></li>
            <li class="li-right">
                {% set endpoint = type + '_user' %}
                <form action="{{ url_for(endpoint) }}" method="post">
                    <label for="{{ type }}-username">Username:</label>
                    <input type="text" id="{{ type }}-username" name="username" minlength="5" maxlength="20"
                           required>
                    <label for="{{ type }}-password">Password:</label>
                    <input type="password" id="{{ type }}-password" name="password" minlength="5" maxlength="30"
                           required>
                    <input type="submit" id="{{ type }}" value="{{ type.capitalize() }}">
                </form>
            </li>
        </ul>
    </template>
{% endfor %}

<template id="navbar-template">
    <ul>
        {% if 'username' in session %}
            <li class="li-right"><a href="{{ url_for('logout_user') }}">Logout</a></li>
            <li class="li-right"><span>Logged in as <strong>{{ session.username }}</strong></span></li>
        {% else %}
            <li class="li-right" id="register"><a href="#">Register</a></li>
            <li class="li-right" id="login"><a href="#">Login</a></li>
        {% endif %}
    </ul>
</template>